.tag {
  display: inline-block;

  box-sizing: border-box;
  margin-right: 5px;
  border-radius: 20px;
}

.s {
  padding: 5px 10px;

  font-size: 12px;
  line-height: 12px;
}

.m {
  padding: 5px 10px;

  font-size: 14px;
  line-height: 14px;
}

.ghost {
  border: 1px solid var(--gray-ligth);
}

.red {
  color: var(--white);
  background: #de0000;
}

.grey {
  color: var(--white);
  background: #b3c0d9;
}

.green {
  color: var(--green);
  background: var(--green-light);

  font-weight: bold;
}
.primary {
  color: var(--primary);
  font-weight: bold;
  border: 1px solid var(--primary);
}
